<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <!-- style -->
        <link rel="stylesheet" href="/assets/css/animate.css/animate.min.css" type="text/css" />
        <link rel="stylesheet" href="/assets/css/glyphicons/glyphicons.css" type="text/css" />
        <link rel="stylesheet" href="/assets/css/font-awesome/css/font-awesome.min.css" type="text/css" />
        <link rel="stylesheet" href="/assets/css/material-design-icons/material-design-icons.css" type="text/css" />
        <link rel="stylesheet" href="/assets/css/ionicons/css/ionicons.min.css" type="text/css" />
        <link rel="stylesheet" href="/assets/css/simple-line-icons/css/simple-line-icons.css" type="text/css" />
        <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
        <!-- build:css css/styles/app.min.css -->
        <link rel="stylesheet" href="/assets/css/styles/app.css" type="text/css" />
        <link rel="stylesheet" href="/assets/css/styles/style.css" type="text/css" />
        <!-- endbuild -->
        <link rel="stylesheet" href="/assets/css/styles/font.css" type="text/css" />
        <!-- build:js scripts/app.min.js -->
        <!-- jQuery -->
        <script src="jquery/jquery-3.2.1.min.js"></script>
        <!-- Bootstrap -->
        <script src="/assets/libs/tether/dist/js/tether.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
        <!-- core -->
        <script src="/assets/libs/jQuery-Storage-API/jquery.storageapi.min.js"></script>
        <script src="/assets/libs/PACE/pace.min.js"></script>
        <script src="/assets/libs/jquery-pjax/jquery.pjax.js"></script>
        <script src="/assets/libs/blockUI/jquery.blockUI.js"></script>
        <script src="/assets/libs/jscroll/jquery.jscroll.min.js"></script>
        <script src="/assets/scripts/config.lazyload.js"></script>
        <script src="/assets/scripts/ui-load.js"></script>
        <script src="/assets/scripts/ui-jp.js"></script>
        <script src="/assets/scripts/ui-include.js"></script>
        <script src="/assets/scripts/ui-device.js"></script>
        <script src="/assets/scripts/ui-form.js"></script>
        <script src="/assets/scripts/ui-modal.js"></script>
        <script src="/assets/scripts/ui-nav.js"></script>
        <script src="/assets/scripts/ui-list.js"></script>
        <script src="/assets/scripts/ui-screenfull.js"></script>
        <script src="/assets/scripts/ui-scroll-to.js"></script>
        <script src="/assets/scripts/ui-toggle-class.js"></script>
        <script src="/assets/scripts/ui-taburl.js"></script>
        <script src="/assets/scripts/app.js"></script>
        <script src="/assets/scripts/ajax.js"></script>
    {% endblock %}
</head>
<body>
{% block body %}



{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
