
<div  class="row">
    <img style="width: 10%; margin-left: auto; margin-right: auto; margin-bottom: -70px; margin-top: 50px;"
         class="img-fluid"
         src="{{ asset('images/logo/logo-mini.png') }}" alt=""/>
</div>
<div style="margin-bottom: 39px; width: 100%;" class="row">

    <div class="container">
        <p style="padding-top: 6%;" class="label-vote ">Bienvenue <strong
                    style="   text-transform: uppercase;">{{ app.user.username }}</strong> dans votre espace de vote
        </p>
        <p class="label-vote ">vous etes inscrit dans <a style="color: #17304d;text-decoration: underline;"
                                                         href="/eventUser"> {{ eventNumber }} evenements </a></p>

        <div style="    padding-top: 20px;" class="row">
            <div class="col-6">

                <a class="btn btn-vote col-12" href="/aide">Aide</a>
                <a class="btn btn-vote  col-12" href="/Note">Note d'information</a>
                <a class="btn btn-vote  col-12" href="/eventUser">Liste des Evenements</a>


            </div>
            <div class="col-6">
                <div class="col-12">
                    <a style="height: 59px ; padding-top: 2.5%;" class="btn btn-vote col-12" href="/eventUser/voter">Voter</a>
                    <a style="height: 59px ; padding-top: 2.5%;" class="btn btn-vote  col-12" href="/eventResultat">Resultat</a>

                </div>
            </div>
        </div>
    </div>
</div>
