<form style="display: inline" method="post" action="{{ path('event_update', {'id': event.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cette evenement?');">
    <input type="hidden" name="_method" value="UPDATE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ event.id) }}">
    <button style="  width:   margin-left: -12px;"  class="btn btn-danger">Supprimer</button>
</form>
