<form style="display: inline;" method="post" action="{{ path('event_update', {'id': event.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien stoper supprimer cette evenement?');">
    <input type="hidden" name="_method" value="UPDATE">
    <input type="hidden" name="_token" value="{{ csrf_token('stop' ~ event.id) }}">
    <button style="  width: 100%  ; margin-left: -12px;" class="btn btn-danger">Stop</button>
</form>
