
<form method="post" action="{{ path('candidats_delete', {'id': candidat.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer ce personne?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ candidat.id) }}">
    <button style="margin-left: 91%;width: 8%; margin-bottom: 10px;" class="btn btn-danger col-2">Supprimer</button>
</form>
