{% extends 'base.html.twig' %}

{% block title %}New Elector{% endblock %}

{% block body %}
    <h1>Create new Elector</h1>

    {{ include('elector/_form.html.twig') }}

    <a href="{{ path('elector_index') }}">back to list</a>
{% endblock %}
