
    <div class="app-body">
        <!-- ############ PAGE START-->
        <div class="row-col">

            <div class="cards">
                <div class="card ">
                    <h3 id="">{{ totalEvent }}</h3>
                    <p>Total Événements</p>
                </div>
                <div class="card">
                    <h3 id="">{{ totalElector }}</h3>
                    <p>Total Candidats</p>
                </div>
                <div class="card">
                    <h3 id="">{{ totalCandidats }}</h3>
                    <p>Total Electeurs</p>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-1"></div>
            <div class="col-4">
                <div class="card-header card-vote card-header-action">
                    <h6>Nombre des  electeurs dans les evenements</h6>

                </div>
                <div  style="border-bottom-left-radius: 15px; border-bottom-right-radius: 15px; border: 1px #d6d6d6 solid;" class="box">
d
                </div>
            </div>
            <div class="col-6">
                <div class="card-header card-vote card-header-action">
                    <h6>Nombre des candidats dans les evenements</h6>

                </div>
                <div  style="border-bottom-left-radius: 15px; border-bottom-right-radius: 15px; border: 1px #d6d6d6 solid;" class="box">
                    d
                </div>
            </div>
            <div class="col-1"></div>
            <div class="col-1"></div>
            <div class="col-10">
                <div class="card-header card-vote card-header-action">
                    <h6>les evenements en cours</h6>

                </div>
                <div  style="border-bottom-left-radius: 15px; border-bottom-right-radius: 15px; border: 1px #d6d6d6 solid;" class="box">
                    d
                </div>
            </div>
        </div>

</div>
