
    <div class="app-body">
        <!-- ############ PAGE START-->
        <div class="row-col">

            <div class="cards">
                <a class="card " href="/event">
                <div >
                    <h3 id="">{{ totalEvent }}</h3>
                    <p>Total Événements</p>
                </div>
                </a>
                <a class="card " href="/candidats">
                <div  >
                    <h3 id="">{{ totalElector }}</h3>
                    <p>Total Candidats</p>
                </div>
                </a>
                <a  class="card" href="/elector">
                <div>
                    <h3 id="">{{ totalCandidats }} </h3>
                    <p>Total Electeurs</p>
                </div>
                </a>
            </div>

        </div>

        <div class="row" style="margin-right: auto; margin-left: auto; padding-right: 15px; padding-left: 15px; width: 100%; max-width: 94%;">


            <div class="col-6">
                <div class="card-header card-vote card-header-action">
                    <h6>Electeurs/Evenements</h6>

                </div>
                <div  style="border-bottom-left-radius: 15px; border-bottom-right-radius: 15px; border: 1px #d6d6d6 solid;" class="box">

                    <figure class="highcharts-figure">
                        <div id="elecEvent"></div>

                    </figure>

                </div>
            </div>

            <div class="col-6">
                <div class="card-header card-vote card-header-action">
                    <h6>Candidats/Evenements</h6>

                </div>
                <div  style="border-bottom-left-radius: 15px; border-bottom-right-radius: 15px; border: 1px #d6d6d6 solid;" class="box">
                    <figure class="highcharts-figure">
                        <div id="candEvent"></div>

                    </figure>
                </div>
            </div>

            <div class="col-12">
                <div class="card-header card-vote card-header-action">
                    <h6>les evenements en cours</h6>

                </div>
                <div  style="border-bottom-left-radius: 15px; border-bottom-right-radius: 15px; border: 1px #d6d6d6 solid;" class="box">
                    d
                </div>
            </div>
        </div>

</div>
